.pre-menu_question {
	color: #ff5e3a;
	font-size: 2rem;
}

.menu-holder {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.menu-point {
	width: 30%;
	min-width: 150px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: .2rem;
	color: #888;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	
}

.menu-point:hover {
	opacity: .75;
}

.menu-point:after{
	content: '';
	display: inline-block;
	height: auto;
	width: 100%;
	padding-top: 100%;
	background-color: #888;
	margin-bottom: 30px;
	margin-top: -.6rem;
	border-radius: 10px;
}

.menu-point:before {
  text-transform: none;
}

.menu_post {
	color: #ff5e3a;
  width: 100%;
}

.menu_post:after {
	background-color: #ff5e3a;
  padding-top: 15%;
}

.menu_link {
	color: #c3c494;
}

.menu_link:after {
	background-color: #c3c494;
}

.menu_link:before {
	content: 'http://';
	color: #fff;
	display: inline-block;
	position: absolute;
	top: 1rem;
	left: 0;
	width: 100%;
	padding-top: calc(50% - 1.5rem);
	font-size: 3rem;
}

.menu_quote {
	color: #4088d7;
}

.menu_quote:after {
	background-color: #4088d7;
}

.menu_quote:before {
	content: '« »';
	color: #fff;
	display: inline-block;
	position: absolute;
	top: 1rem;
	left: 0;
	width: 100%;
	padding-top: calc(50% - 1rem);
	line-height: 2.5rem;
	font-size: 6rem;
	font-family: serif;
}

.menu_image {
	color: #24a517;
}

.menu_image:after {
	background-color: #24a517;
}

.menu_image:before {
    display: inline-block;
    content: "";
    background: url(https://reqloud.com/work/mindwell/markdown/image.jpg);
    height: 60%;
    width: 59%;
    position: absolute;
    top: 18%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    left: 21.5%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.get-back {
	color: #888;
	cursor: pointer;
	display: inline-block;
	border-bottom: 1px dashed;
}